.gallery{
    grid-column: 1/-1;
}
.gallery-images{
    display : grid;
    grid-template-columns :repeat(3, 1fr);
    grid-template-rows : repeat(3 , 330px);
    grid-gap : 20px;
    margin : 10px;
    padding : 30px;
}
.galleryitem{
    width :100%;
    border-radius: 20px;;
    height : 99%;
    transition: all 1s;
}
.gallery-1{
    grid-column: 1/3;
    grid-row :1/2;
}
.gallery-2{
    grid-column : 3/4;
    grid-row : 1/3
}
.gallery-3{
    grid-column: 1/2;
    grid-row : 2/4;
}
.gallery-4{
    grid-column : 2/3;
}
.gallery-5{
    grid-column: 2/4;
}
@media screen and (max-width : 700px) {
    .gallery-images{
        display : grid;
        grid-template-columns :minmax(200px, 1fr);
        grid-template-rows : repeat(4, 400px);
        grid-gap : 20px;
        margin : 10px;
        padding : 30px;
    }
    .gallery-1{
        grid-row : 1/2;
        grid-column: 1/3;
    }
    .gallery-2{
        grid-row : 2/3;
        grid-column: 1/3;
    }
    .gallery-3{
        grid-row :3/4;  
        grid-column: 1/3;
    }
    .gallery-4{
        grid-row:4/5;
        grid-column: 1/3;
    }
    .gallery-5{
        grid-row :5/6;
        grid-column: 1/3;
    }
}
.galleryitem:hover{
    transform: scale(1.05);
}